body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffffff;
}
.container {
    display: flex;
    height: 100vh;
}
.left {
    flex: 1;
    background: url('../imagens/background2.png') center/cover no-repeat;
}
.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffffff;
}
.form-box {
    width: 350px;
    padding: 20px;
}
.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
}
input {
    width: 93%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    width: 100%;
    padding: 10px;
    background: #179AE0;
    color: #ffffffff;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.table-box {
    margin: 20px auto;
    width: 80%;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
a {
    text-decoration: none;
    color: #007bff;
}